.ejeck {
    position: absolute;
    top: 55px;
}

.ejec {
    position: absolute;
    top: 345px;
}

.ejek {
    position: absolute;
    top: 345px;
    left: 450px;
}

.zayc {
    position: absolute;
    top: 510px;
    left: -100px;
}

.zayz {
    position: absolute;
    top: 455px;
}

.zay {
    position: absolute;
    top: 510px;
    left: 290px;
}
